# ignore all file
/*

.config/*
# exclude
!.config
!.config/hypr
!.config/alacritty
!.config/eww
!.config/neofetch
!.config/nvim
!.config/ranger
!.config/rofi

.local/*
!.local
!.local/bin
!.local/share
.local/share/*
!.local/share/applications
!.local/share/fonts
!.local/share/icons

Obsidian Vault/*
!Obsidian Vault/

!.gitignore

Pictures/*
!Pictures/
!Pictures/Wallpapers

!.bashrc
!.zshrc
